
/* Lightbox */
.lightbox {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,.7);
	opacity: 0;
	overflow: hidden;
}

.lightbox img {
	margin: auto;
	position: absolute;
	top: 0;
	left:0;
	right:0;
	bottom: 0;
	max-height: 0%;
	max-width: 0%;
	display:none;
}

.lightbox:target {
	opacity: 1;
	top: 0;
	bottom: 0;
}

.lightbox:target img {
	max-height: 100%;
	max-width: 100%;
	display:block;
}

.lightbox .lb_button {
	background-color: #ffff00;
	display: block;
	width: 10%;
	height: 10%;
	position: absolute;
	margin: auto;
	/* visibility: hidden; */
}

.lightbox .lb_button:hover {
	visibility: visible;
	background-color: #ff0000;
}

/* Google Maps */
#map, #mapcontainer	{ width: 100%; height: 1000px; margin:0; padding:0; text-align:center; }
